   <div class="panel panel-default" >
      <div class="panel-heading">
      <h4 class="panel-title">
       <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse00">
         Nova Tarefa

        
      </h4>
    </div>
        <div id="collapse00" class="panel-collapse collapse in">
          <div class="panel-body" id="task-form" >
          <a></a>
          <%=render 'form_create'%>
          </div>
        </div>
      </div>
       <%= render @tasks %>
