<div class="row">
  <div class="col-md-5 col-md-offset-1">
  </div>

  <div class="col-md-2 col-md-offset-4">
    <%= link_to new_task_path, remote: true do %>
      <button class="btn btn-default">Cadastrar Tarefa</button>
    <% end %>
  </div>
</div>




  <div class="col-md-7 col-md-offset-1" id="tasks">
   
    <div class="panel-group" id="accordion">

   

    <%= render @tasks %>
   
    </div>
  </div>





